<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
    <!-- My styles for this template -->
    <link href="css/my.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <!-- <div class="container"> -->
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">Giới thiệu</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Tin tức
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="#">Tin tổng hợp</a>
                            <a class="dropdown-item" href="#">Tin giáo dục</a>
                            <a class="dropdown-item" href="#">Tin nội bộ</a>
                            <a class="dropdown-item" href="#">Khoa học công nghệ</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Hoạt động
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="#">Hoạt động đoàn thể</a>
                            <a class="dropdown-item" href="#">Hoạt động ngoài giờ</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Văn bản
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="#">Văn bản phòng GDĐ</a>
                            <a class="dropdown-item" href="#">Văn bản ngoài giờ</a>
                            <a class="dropdown-item" href="#">Văn bản khác</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Trường học
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="#">Thời khóa biểu</a>
                            <a class="dropdown-item" href="#">Lịch kiểm tra</a>
                            <a class="dropdown-item" href="#">Kết quả học tập</a>
                            <a class="dropdown-item" href="#">Thi đua khen thưởng</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Tài nguyên
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="#">Giáo án</a>
                            <a class="dropdown-item" href="#">Tài liệu</a>
                            <a class="dropdown-item" href="#">Hình ảnh</a>
                            <a class="dropdown-item" href="#">Sách, báo</a>
                            <a class="dropdown-item" href="#">Đề thi mẫu</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 ctrl-small" type="text" placeholder="Tìm kiếm...">
                <button class="btn btn-outline-primary my-2 my-sm-0 btn-small" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <!-- </div> -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <h1 class="mt-4 mb-3">Blog Home Two
            <small>Subheading</small>
        </h1>
        <!-- Page Heading/Breadcrumbs -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">Blog Home 2</li>
        </ol>
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Preview Image -->
                <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
                <hr>
                <!-- Date/Time -->
                <p>Posted on January 1, 2017 at 12:00 PM</p>
                <hr>
                <!-- Post Content -->
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente
                    nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste
                    ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius
                    illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim,
                    iure!
                </p>
                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in
                        <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat
                    totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam
                    tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae?
                    Qui, necessitatibus, est!</p>

                <hr>

                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

                <!-- Single Comment -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                        vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                        congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment with nested comments -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                        vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                        congue felis in faucibus.

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                                vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                                vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
</div>
                    </div>
                    </div> 
                    <!-- /.col-sm-8 -->
                    <div class="col-sm-4">
                        <!-- Message Widget -->
                        <div class="card my-4 mt-0">
                            <a href="#" class="none-decor ribbon">
                                <h5 class="card-header">
                                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                                    Thông báo</h5>
                            </a>
                            <!-- thong bao trong thang -->
                            <div class="card-body overflow">
                                <p>
                                    <a href="#">1. Lịch nghỉ tết
                                        <span class="badge badge-danger">New</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="#">2. Lịch trực đêm
                                        <span class="badge badge-danger">New</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="#">3. Ngày nghỉ trong tuần
                                        <span class="badge badge-danger">New</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="#">4. Triệu tập</a>
                                </p>
                                <p>
                                    <a href="#">5. Triệu tập</a>
                                </p>
                                <p>
                                    <a href="#">6. Triệu tập</a>
                                </p>
                                <p>
                                    <a href="#">7. Triệu tập</a>
                                </p>
                                <p>
                                    <a href="#">8. Triệu tập</a>
                                </p>
                            </div>
                        </div>
                        <!-- News docunents Widget -->
                        <div class="card mb-4">
                            <a href="#" class="none-decor ribbon">
                                <h5 class="card-header">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                    Văn bản mới</h5>
                            </a>
                            <!-- van ban quan trong -->
                            <div class="card-body overflow">
                                <p>
                                    <a href="#">1. TT-404/2008 Cách ghi điểm
                                        <span class="badge badge-primary">New</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="#">2. TT-404/2008 Cách ghi điểm
                                        <span class="badge badge-primary">New</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="#">3. TT-404/2008 Cách ghi điểm
                                        <span class="badge badge-primary">New</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="#">4. TT-404/2008 Cách ghi điểm</a>
                                </p>
                                <p>
                                    <a href="#">5. TT-404/2008 Cách ghi điểm</a>
                                </p>
                                <p>
                                    <a href="#">6. TT-404/2008 Cách ghi điểm</a>
                                </p>
                                <p>
                                    <a href="#">7. TT-404/2008 Cách ghi điểm</a>
                                </p>
                                <p>
                                    <a href="#">8. TT-404/2008 Cách ghi điểm</a>
                                </p>
                                <p>
                                    <a href="#">9. TT-404/2008 Cách ghi điểm</a>
                                </p>
                                <p>
                                    <a href="#">10. TT-404/2008 Cách ghi điểm</a>
                                </p>
                            </div>
                        </div>
                        <!-- Most View Widget -->
                        <div class="card my-4">
                            <a href="" class="none-decor ribbon">
                                <h5 class="card-header">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    Tin đọc nhiều</h5>
                            </a>
                            <!-- top 10 -->
                            <div class="card-body">
                                <p>
                                    <a href="#">1. Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                    <span class="badge badge-danger">10</span>
                                </p>
                                <p>
                                    <a href="#">2. Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                    <span class="badge badge-danger">10</span>
                                </p>
                                <p>
                                    <a href="#">3. Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                    <span class="badge badge-danger">10</span>
                                </p>
                                <p>
                                    <a href="#">4. Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                    <span class="badge badge-warning">4</span>
                                </p>
                                <p>
                                    <a href="#">5. Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                    <span class="badge badge-warning">4</span>
                                </p>
                                <p>
                                    <a href="#">6. Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                    <span class="badge badge-warning">4</span>
                                </p>
                                <p>
                                    <a href="#">7. Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                    <span class="badge badge-light">3</span>
                                </p>
                                <p>
                                    <a href="#">8. Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                    <span class="badge badge-light">3</span>
                                </p>
                                <p>
                                    <a href="#">9. Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                    <span class="badge badge-light">3</span>
                                </p>
                                <p>
                                    <a href="#">10. Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                                    <span class="badge badge-light">3</span>
                                </p>
                            </div>
                        </div>
                        <!-- Image Widget -->
                        <div class="card my-4">
                            <a href="#" class="none-decor ribbon">
                                <h5 class="card-header">
                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                    Hình ảnh hoạt động</h5>
                            </a>
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <a href="#">
                                            <img class="img-fluid" src="img/128x128.svg" alt="">
                                            <p>Sinh hoat he...</p>
                                        </a>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <a href="#">
                                            <img class="img-fluid" src="img/128x128.svg" alt="">
                                            <p>Sinh hoat he...</p>
                                        </a>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <a href="#">
                                            <img class="img-fluid" src="img/128x128.svg" alt="">
                                            <p>Sinh hoat he...</p>
                                        </a>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <a href="#">
                                            <img class="img-fluid" src="img/128x128.svg" alt="">
                                            <p>Sinh hoat he...</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Categories Widget -->
                        <div class="card my-4">
                            <a href="" class="none-decor ribbon">
                                <h5 class="card-header">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    Danh mục</h5>
                            </a>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <a href="#">Web Design</a>
                                            </li>
                                            <li>
                                                <a href="#">HTML</a>
                                            </li>
                                            <li>
                                                <a href="#">Freebies</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <a href="#">JavaScript</a>
                                            </li>
                                            <li>
                                                <a href="#">CSS</a>
                                            </li>
                                            <li>
                                                <a href="#">Tutorials</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
    <!-- Footer -->
    <button onclick="javascript:void(0);" id="toTop" title="Go to top">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
    <footer class="py-5 bg-dark">
        <div class="container text-center text-light small">
            <p>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam eos enim voluptatum.</p>
            <p>
                <i class="fa fa-phone" aria-hidden="true"></i>
                024 .6287.2079 - 024.2241.0795</p>
            <p>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                c1dllequydon-ntl@hanoiedu.vn.</p>
            <p class="m-0 text-center text-info">Copyright &copy; Edit by herotiep 2017</p>

        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/my.js"></script>
</body>

</html>